{
  "plugins": ["prettier"],
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": ["error", {
      "endOfLine": "auto"
    }]
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8
  }
}